# Log files
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# DS_Store
*.DS_Store

# virtual machine crash logs
hs_err_pid*

# node_modules
**/node_modules

# Optional npm cache directory
**/.npm

# files
**/.DS_Store
**/.idea
*package-lock.json

# Extra folders
.tmp/
tests_output/
**/apps
**/videos/
/authentication-api/
/auth-api-tutorial/cypress/
/cypress/fixtures/example.json
/cypress/integration/examples/actions.spec.js
/cypress/integration/examples/aliasing.spec.js
/cypress/integration/examples/assertions.spec.js
/cypress/integration/examples/connectors.spec.js
/cypress/integration/examples/cookies.spec.js
/cypress/integration/examples/cypress_api.spec.js
/cypress/integration/examples/files.spec.js
/cypress/integration/examples/local_storage.spec.js
/cypress/integration/examples/location.spec.js
/cypress/integration/examples/misc.spec.js
/cypress/integration/examples/navigation.spec.js
/cypress/integration/examples/network_requests.spec.js
/cypress/integration/examples/querying.spec.js
/cypress/integration/examples/spies_stubs_clocks.spec.js
/cypress/integration/examples/traversal.spec.js
/cypress/integration/examples/utilities.spec.js
/cypress/integration/examples/viewport.spec.js
/cypress/integration/examples/waiting.spec.js
/cypress/integration/examples/window.spec.js
/cypress/plugins/index.js
/cypress/support/commands.js
/cypress/support/index.js
